@import 'tailwindcss';
@import 'uniwind';
@import './generated.css';
@plugin 'tailwindcss-animate';

@source "../app";
@source "../features";
@source "../ui";
@source "../hooks";
@source "../domain";

@layer base {
  html,
  body,
  #root {
    height: 100%;
    background-color: hsl(var(--background));
  }

  html {
    color-scheme: light dark;
  }

  body {
    overflow: hidden;
    overscroll-behavior: none;
  }

  #root {
    display: flex;
    flex: 1;
  }

  html[data-llog-sortable-selection-lock='true'],
  html[data-llog-sortable-selection-lock='true'] * {
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none !important;
  }
}
