@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94%;
    --foreground: 0 0% 0% / 0.98;
    --card: 0 0% 96%;
    --card-foreground: 0 0% 0% / 0.98;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0% / 0.98;
    --primary: 212 100% 58%;
    --primary-foreground: 0 0% 100% / 0.98;
    --secondary: 0 0% 0% / 0.1;
    --secondary-foreground: 0 0% 0% / 0.98;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 0% / 0.65;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 0% / 0.65;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100% / 0.98;
    --border: 0 0% 0% / 0.05;
    --input: 0 0% 0% / 0.05;
    --ring: 212 100% 58%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0% 4%;
      --foreground: 0 0% 100% / 0.95;
      --card: 0 0% 8%;
      --card-foreground: 0 0% 100% / 0.95;
      --popover: 0 0% 12%;
      --popover-foreground: 0 0% 100% / 0.95;
      --primary: 212 100% 58%;
      --primary-foreground: 0 0% 100% / 0.95;
      --secondary: 0 0% 20%;
      --secondary-foreground: 0 0% 100% / 0.95;
      --muted: 0 0% 8%;
      --muted-foreground: 0 0% 100% / 0.65;
      --accent: 0 0% 16%;
      --accent-foreground: 0 0% 100% / 0.65;
      --destructive: 0 72% 51%;
      --destructive-foreground: 0 0% 100% / 0.95;
      --border: 0 0% 100% / 0.05;
      --input: 0 0% 100% / 0.05;
      --ring: 212 100% 58%;
    }
  }
}
