@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 212 10% 4%;
    --card: 0 0% 96%;
    --card-foreground: 212 10% 4%;
    --popover: 0 0% 98%;
    --popover-foreground: 212 10% 4%;
    --primary: 212 100% 58%;
    --primary-foreground: 0 0% 98%;
    --secondary: 212 5% 90%;
    --secondary-foreground: 212 6% 10%;
    --muted: 212 5% 96%;
    --muted-foreground: 212 4% 46%;
    --accent: 212 5% 96%;
    --accent-foreground: 212 6% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 212 6% 84%;
    --input: 212 6% 98%;
    --ring: 212 100% 58%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 212 4% 4%;
      --foreground: 0 0% 95%;
      --card: 212 4% 4%;
      --card-foreground: 0 0% 98%;
      --popover: 212 4% 12%;
      --popover-foreground: 0 0% 98%;
      --primary: 212 100% 58%;
      --primary-foreground: 0 0% 98%;
      --secondary: 212 4% 20%;
      --secondary-foreground: 0 0% 98%;
      --muted: 212 4% 12%;
      --muted-foreground: 212 5% 65%;
      --accent: 212 4% 16%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 72% 51%;
      --destructive-foreground: 0 0% 98%;
      --border: 212 4% 12%;
      --input: 212 4% 12%;
      --ring: 212 100% 58%;
    }
  }
}
